/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Top Contact Bar */
.top-bar {
  background-color: #00274d;
  color: white;
  padding: 10px 0;
  font-size: 0.9rem;
}

/* Navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 15px 0;
  position: relative;
  z-index: 1050;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 39, 77, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-brand img {
  height: 50px;
}

.navbar-nav .nav-link {
  color: #00274d;
  font-weight: 500;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

.navbar .btn-warning {
  background-color: #ffc107;
  color: #00274d;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.navbar .btn-warning:hover {
  background-color: #e0a800;
}

/* Hero Section */
.hero {
  position: relative;
  background: url('img/elevate.jpg') no-repeat center center/cover; /* Imagen visible como fondo */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alineación del texto */
  color: white; /* Texto blanco para contraste */
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 39, 77, 0.9), rgba(0, 0, 0, 0.6)); /* Gradiente encima de la imagen */
  z-index: 0; /* Gradiente detrás del contenido */
}

.hero .container {
  position: relative;
  z-index: 1; /* Texto y botones encima del gradiente */
}


/* Responsividad */
@media (max-width: 768px) {
  .navbar .btn-warning {
    font-size: 0.9rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .navbar .navbar-brand {
    display: none; /* Oculta el logo en pantallas pequeñas */
  }

  .navbar-nav {
    text-align: center;
  }
}

/* Claim Types Section */
.claim-types {
  background-color: #f8f9fa;
}

.claim-types h2 {
  color: #00274d;
  margin-bottom: 1rem;
}

.claim-types p {
  color: #6c757d; /* Texto gris claro */
}

.claim-types .fa {
  color: #00274d;
}

.claim-types .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.claim-types .card-title {
  color: #00274d;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #00274d;
  border-radius: 50%;
  padding: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .claim-types h2 {
    font-size: 1.5rem;
  }

  .claim-types p {
    font-size: 0.9rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 5px;
  }
}
